{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'node',
] %}

<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_suffix }}

  <div class="press__header-paragraphs">
    {% if node.field_header_paragraphs.value %}
      {{ content.field_header_paragraphs }}
    {% endif %}
    {% if not is_front %}
    <div class="content-header__text">
      <div class="content-header__text mb-5">
        <h1 class="container mt-md-4 mt-lg-5 h2">{{ label }}</h1>
        {% if content.field_press_date|field_value %}
          <div class="container date"{{ content.field_press_date|quickedit_attr }}>{{ content.field_press_date|field_value }}</div>
        {% endif %}
        <div class="user-info container clearfix mt-4">
          <div class="user-avatar float-left mr-3">
            {% if author_picture %}
              {{ author_picture }}
            {% else %}
              <i class="fas fa-user"></i>
            {% endif %}
          </div>
          <div class="name font-weight-bold mb-1">{{ author_name|striptags|trim }}</div>
          <div class="title"></div>
        </div>

        {% if teaser %}
          <h2>{{ label }}</h2>
          {% if content.field_teaser_sub_title %}
            <h3 class="press__teaser-sub-title"{{ content.field_teaser_sub_title|quickedit_attr }}>
              {{ content.field_teaser_sub_title|field_value }}
            </h3>
          {% endif %}
          {% if content.field_teaser_text %}
            <div class="press__teaser-text"{{ content.field_teaser_text|quickedit_attr }}>
              {{ content.field_teaser_text|field_value }}
            </div>
          {% endif %}
        {% endif %}
      </div>
      {% endif %}
    </div>

    {% if content.field_tags|field_value or node.field_social_media.value == '1' or node.field_header_paragraphs.value %}
      <div class="press__header header">

        {# Tags #}
        {% if content.field_tags|field_value %}
          <div class="tags">
            {{ content.field_tags }}
          </div>
        {% endif %}

        {# Social media sharing #}
        {% if node.field_social_media and node.field_social_media.value == '1' %}
          {% if content.shariff_field %}
            <div class="sharing">
              {{ content.shariff_field }}
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {% if node.field_content_paragraphs.value %}
      <div class="press__content-paragraphs">
        {{ content.field_content_paragraphs|field_value }}
      </div>
    {% endif %}

</article>
