{#
/**
 * @file
 * Theme override to display a node.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'content-header',
  'node',
] %}
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_suffix }}

  {% if node.field_header_paragraphs.value %}
    <div class="blog__header-paragraphs">
      {{ content.field_header_paragraphs }}
    </div>
  {% endif %}

  <div class="content-header__text mb-5">
    <h1 class="container mt-md-4 mt-lg-5 h2">{{ label }}</h1>
    <div class="container date"{{ content.field_blog_date|quickedit_attr }}>{{ content.field_blog_date|field_value }}</div>
    <div class="user-info container clearfix mt-4">
      <div class="user-avatar float-left mr-3">
        {% if author_picture %}
          {{ author_picture }}
        {% else %}
          <i class="fas fa-user"></i>
        {% endif %}
      </div>
      <div class="name font-weight-bold mb-1">{{ author_name|striptags|trim }}</div>
      <div class="title"></div>
    </div>

    {% if teaser %}
      <div class="blog__header header">
        <h2>{{ label }}</h2>
        {% if content.field_teaser_sub_title %}
          <h3 class="normal-page__teaser-sub-title"{{ content.field_teaser_sub_title|quickedit_attr }}>
            {{ content.field_teaser_sub_title|field_value }}
          </h3>
        {% endif %}
        {% if content.field_teaser_text %}
          <div class="normal-page__teaser-text"{{ content.field_teaser_text|quickedit_attr }}>
            {{ content.field_teaser_text|field_value }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {# Tags #}
    {% if content.field_tags|field_value %}
      <div class="tags">
        {{ content.field_tags }}
      </div>
    {% endif %}

    {# Social media sharing #}
    {% if node.field_social_media and node.field_social_media.value == '1' %}
      {% if content.shariff_field %}
        <div class="sharing">
          {{ content.shariff_field }}
        </div>
      {% endif %}
    {% endif %}
  </div>

  <div class="blog__content content">
    <div class="blog__content-author">{{ content.field_blog_author|field_value }}</div>
    {% if node.field_content_paragraphs.value %}
      <div class="blog__content-paragraphs">
        {{ content.field_content_paragraphs|field_value }}
      </div>
    {% endif %}
  </div>
</article>
