div.dropdown-menu-right {
  background-color: $blue !important;
  a {
    &:hover {
      background-color: lighten($blue, 10%) !important;
      border-radius: 0;
    }
  }
}


.paragraph__content {
  a {
    color: black !important;
    text-decoration: underline;
  }
}
