{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content.field_citation_image|field_value %}
  {% set classes = 'col-sm-6' %}
{% else %}
  {% set classes = 'col-sm-12' %}
{% endif %}
{%
set media_classes = [
  'citation',
  'media--preview',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="row">
    <div class="citation__left {{ classes }}">
      <blockquote class="citation__text"{{ content.field_citation_text|quickedit_attr }}>{{ content.field_citation_text|field_value }}</blockquote>
      <div class="citation__title"{{ content.field_citation_title|quickedit_attr }}>{{ content.field_citation_title|field_value }}</div>
      <div class="citation__date"{{ content.field_citation_date|quickedit_attr }}>{{ content.field_citation_date|field_value }}</div>
    </div>
    {% if content.field_citation_image|field_value %}
    <div class="citation__right {{ classes }}">
      <div class="citation__image">{{ content.field_citation_image }}</div>
    </div>
    {% endif %}
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
  </div>
</article>
